* {
  margin: 0;
  padding: 0;
  font-family: montserrat;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/static/Montserrat-Regular.ttf);
}
body {
  background: #e5e5e5;
}

.sayt {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  & > .header {
    & > .header__top {
      background: #eff0f1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 6px 1%;
      & > h3 {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin: 10px;
        color: #676767;
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;

        & > h3 {
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          margin: 10px;
          color: #676767;
        }
      }
    }

    & > .header__bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 6px 1%;

      & > .katalog {
        width: 182px;
        height: 45px;

        background: linear-gradient(180deg, #6c69ff 0%, #4f4bff 100%);
        border-radius: 10px;
        text-align: center;

        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        color: #ffffff;
        text-decoration: none;
        padding-top: 14px;
        box-sizing: border-box;

        & > i {
          margin-left: 20px;
        }
      }

      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 9px;

        & > li {
          margin: 20px;
          list-style: none;

          & > a {
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            border-bottom: 1px solid transparent;

            color: #676767;
          }
          & > a:hover {
            border-bottom: 1px solid #4945ff;
            padding-bottom: 29px;
          }
        }
      }

      & > .cart {
        & > a {
          & > i {
            color: #4945ff;
            font-size: 24px;
          }
        }
        a:hover {
          text-shadow: 0 0 15px;
        }

        & > span {
          background: #e5e5e7;
          padding: 2px 7px;
          border-radius: 50%;
        }
      }

      & > .tel {
        & > h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-align: right;

          color: #2b2a2a;

          & > i {
            padding: 7px;
            padding-left: 7px;
            padding-top: 9px;
            padding-bottom: 5px;
            border-radius: 50%;
            background: #4945ff;
            transform: rotate(-45deg);
            color: #ffffff;
          }
        }
        & > h5 {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          text-align: right;

          color: #676767;
        }
      }
    }
  }
}
